body{
    margin:20px;
    font-family: Helvetica;
    background-color: darkslategray;
}

nav{
    width: 75%;
    height:fit-content;
    margin: 10px auto 10px auto;
    border-bottom: 1px solid white;


}

nav ul{
    display: flex;
    justify-content: space-around;
    padding:0;
    list-style: none;
    border:none;
    margin: 30px 0px;
    }


nav li{
    
    text-align: center;
}


nav a{
    display: inline;
    white-space: nowrap;
    padding: 20px 5vw;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

nav a:hover{
    background-color: white;
    color:darkslategrey;
    border-radius: 20px;
    transition: 0.5s;
}

.content{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    text-decoration: none;
    gap:20px;
}
.content a{
    text-decoration: none;
    color: white;
}
.textfield{
    
    border-radius: 10px;
    background-color: rgb(31, 31, 31);
    color:white;
    height: fit-content;
}

.textfield *{
    margin:20px;
}

.textfield p{
    line-height: 2rem;
    font-size: 1.2rem;

}

.aboutmeimg{
    margin-top: 0px;
    padding: 20px;
    grid-row: 1/3;
    grid-column: 2/4;
    background-color: rgb(31, 31, 31);
    height: fit-content;
    border-radius: 10px;
    
}

.content img{
    width: 100%;
}

.ProjectTile{
    margin-top: 0px;
    padding: 20px;
    grid-row: 1/3;
    grid-column: 2/4;
    background-color: rgb(31, 31, 31);
    height: fit-content;
    border-radius: 10px;
    width: 300px;
}
.ProjectTile img{
    width: 300px;
}
.ProjectTile:hover{
    transform: translateY(-5px);
    background-color: rgb(49, 49, 49);
    transition: 0.5s;
}