<a class="backLink" href="/projecten">Terug naar projecten</a>

<article class="projectInfo">
    <h2>3d</h2>
    <p>Voor een SRP punt(extra punten die je kan behalen door tijd te steken in het leren van iets nieuws) heb ik
        geoefend met 3d modeleren in blender. Ik heb geleerd hoe blender werkt. Hoe je iets kan vormgeven en kan
        animeren. Ik heb voor deze richting gekozen omdat ik graag dingen maak en creatief bezig ben. Ik hoop deze skill
        later ook te kunnen combineren met front-end. bijvoorbeeld door een website te bouwen met eigen gemaakte 3d
        objecten en 3js.</p>
    <img src="../media/Blender (2).jpg" alt="">
    <p>Hierboven is de mesh te zien die ik had gemaakt. Er is nog niets gebeurd met kleuren of materialen. Wel had ik de
        armen al zo gemaakt dat ik ze kon buigen om later mee te kunnen animeren.</p>
    <img src="../media/Blender (3).jpg" alt="">
    <p>
        Hier heb ik de materialen toegevoegd en wat kleuren. Ook hebben wat delen licht gekregen en het scherm op het
        torso heeft een spelend filmpje van een alert. Het idee voor de animatie was namelijk dat dit een soort security
        robot is in een fabriek waar een brand is ontstaan.
    </p>
    <img src="../media/Blender (4).jpg" alt="">
    <p>Hier is de scene te zien die ik had gemaakt voor de animatie met een achtergrond en de positie van de camera. Als
        laatste is hieronder het eindproduct te zien in de vorm van een video.</p>
    <iframe src="https://player.vimeo.com/video/560850080?h=b8cb2e9b1e" width="640" height="564" frameborder="0"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
</article>