<article>
    <h2>Hidde van der Plaat</h2>
    <p>Ik ben Hidde van der Plaat. Student aan Communication and Multimedia aan de Hogeschool van Amsterdam.
        Mijn focus ligt op front-end development. Hier is een verzameling te zien van projecten waar ik trots op
        ben.</p>
    <img class="idImg" src="Media/Img/MachuPichuTransparent.png" alt="Profielfoto">
</article>