<article class="persInfo">
    <h2>Hidde van der Plaat</h2>
    <p>Ik ben Hidde van der Plaat. Student aan Communication and Multimedia aan de Hogeschool van Amsterdam.
        Mijn focus ligt op front-end development. Hier is een verzameling te zien van mijn projecten.</p>
    <img class="idImg" src="../media/MachuPichuTransparent.png" alt="Profielfoto">
</article>
<article class="skills">

    <section>
        <h2>Skills</h2>
        <p>
            Doordat CMD een heel brede opleiding is heb ik veel ervaring opgedaan in verschillende velden. Hier een
            lijstje van de dingen die ik geleerd heb.
        </p>
    </section>
    <section>
        <h3>Code</h3>
        <ul>
            <li><img src="../media/html-5.png" alt="">Html</li>
            <li><img src="../media/css-3.png" alt="">CSS</li>
            <li><img src="../media/js.png" alt="">Javascript</li>
            <Li><img src="../media/nodejs.png" alt="">NodeJs</Li>
            <li><img src="../media/git.png" alt="">Git/Github</li>
        </ul>
    </section>
    <section>
        <h3>Design</h3>
        <ul>
            <li><img src="../media/illustrator.png" alt="">Adobe Illustrator
            </li>
            <li><img src="../media/photoshop.png" alt="">Adobe Photoshop</li>
            <li><img src="../media/xd.png" alt="">Adobe xd</li>
            <li><img src="../media/premiere-pro.png" alt="">Adobe Premiere</li>
            <li><img src="../media/figma.png" alt="">Figma</li>
        </ul>
    </section>
    <section>
        <h3>Overig</h3>
        <ul>
            <li><img src="../media/blender.png" alt="">Blender</li>
        </ul>
    </section>
</article>