<a href="https://www.linkedin.com/in/hidde-van-der-plaat/" target="_blank"><img class="contactImg"
        src="../media/linkedin.png" alt=""></a>
<a href="https://github.com/Hiddevdp" target="_blank"><img class="contactImg" src="../media/github.png" alt=""></a>
<a href="mailto:hiddevanderplaat@live.nl"><img class="contactImg" src="../media/mail.png" alt=""></a>