<section class="cv">
    <div class="idImgWrapper">
        <img src="../media/MachuPichuTransparent.png" alt="">
    </div>
    <h2>Opleidingen</h2>
    <h3>Havo 2012-2017</h3>
    <p>Op het Jan van Egmond Lyceeum in Purmerend.</p>
    <h3>Communication & Multimedia Design 2019-heden</h3>
    <p>Op de Hogeschool van Amsterdam. Ik zit momenteel in mijn derde jaar en ben
        nog steeds erg gemotiveerd om nieuwe dingen te leren. Van alles wat ik hier leer
        ben ik het meest gefocust op programeren want dit vind ik het leukst.
    </p>
    <h2>Werkervaring</h2>
    <h3>Jumbo 2024 - heden</h3>
    <p>Als bezorger van de boodschappen in Amsterdam.</p>
    <h3>ABN AMRO 2023 - 2024</h3>
    <p>Omdat ik wat meer vrije tijd had heb ik gewerkt bij de customer service afdeling van de ABN AMRO. Ik nam de
        telefoon op om klanten te helpen met van alles. Vooral vragen beantwoorden en problemen oplossen. ik ben hier
        uiteindelijk gestopt omdat ik geen tijd meer had om veel te werken door school.</p>
    <h3>Supermarkt Plus 2017 - 2023</h3>
    <p>Als vakkenvuller in de Plus supermarkt in De Rijp. Later als bezorger van boodschappen bij klanten thuis. Ik ben
        gestopt omdat ik in Amsterdam woonde en het niet haalbaar was om elke keer te reizen.</p>
    <h3>Restaurant 2017</h3>
    <p>Ik heb als eerste baantje een aantal maanden gewerkt als afwasser toen ik 16 was.</p>
</section>