<section class="cv">
    <div class="idImgWrapper">
        <img src="../media/MachuPichuTransparent.png" alt="">
    </div>
    <h2>Opleidingen</h2>
    <h3>Communication & Multimedia Design</h3>
    <h4>2019 - heden</h4>
    <p>Op de Hogeschool van Amsterdam. Ik zit momenteel in mijn derde jaar en ben
        nog steeds erg gemotiveerd om nieuwe dingen te leren. Van alles wat ik hier leer
        ben ik het meest gefocust op programeren want dit vind ik het leukst.
    </p>
    <h3>Havo</h3>
    <h4>2012 - 2017</h4>
    <p>Op het Jan van Egmond Lyceeum in Purmerend.</p>
    <h2>Stage</h2>
    <h3>CapeRock / Kabood.io</h3>
    <h4>2023</h4>
    <p>Ik heb mijn korte stage (10 weken) gelopen bij CapeRock/Kabood.io. De eerste helft heb ik gewerkt als designer en
        de tweede helft als front-ender. Dit omdat ik van beide velden benieuwd was hoe dit werkt in een bedrijf.
        Hierdoor heb ik geleerd dat front-end mij meer ligt dan design. Ik heb in deze korte tijd veel geleerd over het
        werken in een bedrijf en hoe je goed samenwerkt aan projecten.</p>
    <h2>Werkervaring</h2>
    <h3>Jumbo</h3>
    <h4>2024 - heden</h4>
    <p>Als bezorger van de boodschappen in Amsterdam.</p>
    <h3>ABN AMRO</h3>
    <h4>2023 - 2024</h4>
    <p>Omdat ik wat meer vrije tijd had heb ik gewerkt bij de customer service afdeling van de ABN AMRO. Ik nam de
        telefoon op om klanten te helpen met van alles. Vooral vragen beantwoorden en problemen oplossen. ik ben hier
        uiteindelijk gestopt omdat ik geen tijd meer had om veel te werken door school.</p>
    <h3>Supermarkt Plus</h3>
    <h4>2017 - 2023</h4>
    <p>Als vakkenvuller in de Plus supermarkt in De Rijp. Later als bezorger van boodschappen bij klanten thuis. Ik ben
        gestopt omdat ik in Amsterdam woonde en het niet haalbaar was om elke keer te reizen.</p>
    <h3>Restaurant</h3>
    <h4>2017</h4>
    <p>Ik heb als eerste baantje een aantal maanden gewerkt als afwasser toen ik 16 was.</p>
</section>