<%- include('backlink.ejs') %>

    <article class="projectInfo">
        <h2>Front-end Development</h2>
        <p>
            In jaar 3 heb ik een een eerder gegeven vak herkanst. Het doel van het vak was om een bestaande website na
            te
            bouwen met html,css en zo min mogelijk javascript. Het doel hiervan was om te leren programeren voor
            professionele websites zonder aan styling te hoeven denken. Die bestaat namelijk al. Ik heb gekozen om de
            website van Dunkin' Donuts na te maken. Dit omdat ik de stijl leuk vond en de functionaliteiten een goede
            uitdaging waren. Ik had namelijk nog niet zoveel ervaring met grid en aan de homepage zag ik al dat ik
            hiermee
            aan de slag moest. Er moest ook een tweede pagina gemaakt worden. Ik heb gekozen voor de "over ons" pagina
            omdat
            hier wat coole scroll animaties op stonden die ik wilde uitproberen. Als laatste moest de website volledig
            responsive zijn. Daar had ik ook nog niet heel veel ervaring mee.
        </p>
        <img src="../media/FED.png" alt="">
        <img src="../media/FEDMobile.png" class="mobile" alt="">
        <p>
            uiteindelijk is alles wat ik wilde gelukt en heb ik volgens mij een mooi eindresultaat waar ik veel van heb
            geleerd. In het prototype is de "over ons" pagina ook uitgewerkt.
        </p>
        <a href="https://github.com/Hiddevdp/FEDher">Github Repository</a>
        <a href="https://hiddevdp.github.io/FEDher/">Live Prototype</a>

    </article>