<%- include('head.ejs') %>
    <%- include('header.ejs') %>

        <body>
            <main>
                <%- include(body + '.ejs' ) %>
            </main>
            <%- include('footer.ejs') %>
        </body>

        </html>