<%- include('backlink.ejs') %>

    <article class="projectInfo">
        <h2>API</h2>
        <p>Voor dit onderdeel van de minor moesten we een website naar keuze maken die met verschillende API's werkte.
            De website moest werken via een server en moest ergens online staan.
            Ik had gekozen om met de MovieDatabase api een moviedatabase te bouwen. Daarnaast had ik een functie gemaakt
            om te filteren op serie, film of allebei, of om specifiek te zoeken.
        </p>
        <img src="../media/API.png" alt="">
        <img src="../media/api2.png" alt="">
        <p>Ook was er een detailpagina waar de samenvatting en datum van uitkomst werden weergeven en had ik met de
            shareAPI gezorgd dat
            gebruikers een film of serie konden delen via socialmedia.</p>
        <a href="https://github.com/Hiddevdp/API-MovieDatabase">Link naar github repo</a>
    </article>