<%- include('backlink.ejs') %>

    <article class="projectInfo">
        <h2>Webapps from scratch</h2>
        <p>Als introductie voor de minor kregen we het vak "Webapps from scratch" waar we gingen werken aan een website
            die informatie kon halen uit een json file en weer kon geven. Er was een individueel deel en een teamdeel.
            Voor het individuele deel heb ik gekozen om een website te maken over mijn favoriete nummers. De
            persoonlijke info wordt uit een Json file gehaald.
        </p>
        <img src="../media/WAFS.png" alt="">
        <p>
            Ik had het idee om de cards met nummers te kunnen flippen om zo meer info te zien over de nummers. Ook vond
            ik het cool om de videoclips af te spelen als achtergrond.
        </p>
        <img src="../media/video.gif.gif" alt="">
        <a href="https://github.com/Hiddevdp/web-app-from-scratch-2324">Link naar github repo</a>
        <p>
            Voor het teamgedeelte hebben we ook gekozen om onze favoriete muziek te laten zien, maar op een andere
            manier. We wilden graag de mogelijkheid geven om te filteren en te sorteren. De info van de nummers wordt
            opgehaald uit de SpotifyAPi. Je kunt daardoor ook sorteren op streams
        </p>
        <img src="../media/WAFSTEAM.png" alt="">
        <a href="https://github.com/xiaonanpols21/web-app-from-scratch-2324-team">Link naar github repo</a>
        <h2>Wat heb ik geleerd.</h2>
        <ul>
            <li>Het werken in een team met github</li>
            <li>Info ophalen uit een API</li>
            <li>Het opzetten van een filter/sort functie in Javascript</li>
        </ul>
    </article>