<%- include('backlink.ejs') %>

    <article class="projectInfo">
        <h2>CSS To The Rescue</h2>
        <p>Een ander vak dat tijdens de minor is gegeven was "Css to the rescue". Een vak waar we de diepte in gingen
            met css. We kregen de keuze uit verschillende onderwerpen. Ik koos voor het
            bouwen van een control panel. Het was daarbij de bedoeling dat je een control panel bouwde met knoppen en
            schuiven. Die dan iets aansturen. Ik had een kubus gebouwd die ronddraaide en met de controlls kon je die
            aanpassen.

        </p>
        <img src="../media/CSS.png" alt="">
        <a href="https://github.com/Hiddevdp/CSSTTR">Link naar github repo</a>
        <h2>Wat heb ik geleerd.</h2>
        <ul>
            <li>Nieuwe Css technieken zoals container queries, nesting en :has</li>
            <li>3d effect in css</li>

        </ul>
    </article>