<%- include('backlink.ejs') %>

    <article class="projectInfo">
        <h2>OBA Project</h2>
        <p>Voor de afsluiting van de minor Webdevelopment & Design moesten we in teams voor de "Meesterproef" voor een
            opdrachtgever in 8 weken een project doen. Wij hebben voor de oba een website ontwikkeld waar de gebruiker
            in natuurlijke taal kan zoeken binnen de oba. Dit omdat door bijvoorbeeld een digitale achterstand of een
            slechte beheersing van de taal niet iedereen goed om kan gaan met een klassieke zoekmachine. We hebben
            doormiddel van AI een chatbot gebouwd die met de gebruiker een conversatie aangaat en resultaten weergeeft
            die voldoen aan de zoekopdracht.
        </p>
        <img src="../media/oba1.png" alt="oba">
        <img src="../media/oba2.png" class="mobile" alt="">
        <p>
            Zoals te zien op het plaatje kun je met ons prototype een conversatie aangaan over wat je precies zoekt. Ben
            je niet specifiek genoeg, dan vraagt de chatbot door. Ben je dat wel, dan geeft die een aantal suggesties.
            We hebben gewerkt met TypeSense gewerkt om de input van de gebruiker om te zetten in bulletpoints waarmee
            die gaat zoeken binnen de oba database. De OpenAi API regelt de conversatie en de reacies. Ook onthoudt die
            eerder genoemde dingen totdat je een nieuwe chat opent.
        </p>
        <a href="https://github.com/maxstrikkers/OBA">Link naar github repo</a>
    </article>