<a href="/projecten">Terug naar projecten</a>

<article class="projectInfo">
    <h2>Project Tech</h2>
    <p>Tijdens mijn tweede jaar op CMD heb ik voor het keuzeblok gekozen voor blok tech. Hier gingen we in verschillende
        vakken en projecten aan de slag om een website te bouwen naar keuze.
    </p>
    <img src="../media/bloktech.jpg" alt="">
</article>