<%- include('backlink.ejs') %>

    <article class="projectInfo">
        <h2>Project ISGA</h2>
        <p>In het eerste jaar moesten we voor een individueel project werken aan een website gebaseerd op de
            "international Student Guide Amsterdam". Dat is een fysiek boekje voor internationale studenten om kennis te
            maken met Nederland en Amsterdam. Er staat belangrijke informatie in over belangrijke onderwerpen. Een
            hoofdstuk gaat bijvoorbeeld over telefoon abbonementen en hoe je deze afsluit.
        </p>
        <p>
            We werden vrijgelaten in wat we gingen maken maar het moest over het boekje gaan en moest op mobiel formaat
            werken. Mijn idee was om de essentiele informatie op een website te laten zien met het idee dat je als
            student niet altijd het boekje bij je hebt als je de informatie nodig hebt. Dit was voor mij de eerste keer
            dat ik voor mobile een website ging maken. Ook heb ik voor het eerst iets gemaakt met Javascript (het
            uitklapmenu).

        </p>
        <section class="isgaSection">
            <img src="../media/ISGA.jpg" class="mobile" alt="">
            <img src="../media/ISGALostAndFound.jpg" class="mobile" alt="">
            <img src="../media/ISGAMenu.jpg" class="mobile" alt="">
        </section>

        <h2>Wat heb ik geleerd.</h2>
        <ul>
            <li>Html en css voor mobile formaat</li>
            <li>Een beetje Javascript</li>
        </ul>
    </article>