<section>
    <a href="/projecten/project-tech">
        <hgroup>
            <h2>Project Tech</h2>
            <p>Jaar 2</p>
        </hgroup>
        <img src="media/img/bloktech.jpg" alt="Project tech screenshot">
    </a>
    <a href="/projecten/3d">
        <hgroup>
            <h2>3D</h2>
            <p>Jaar 2</p>
        </hgroup>
        <img src="../Media/img/Blender (3).jpg" alt="3D Robot gemaakt in blender">
    </a>
    <a href="">
        <hgroup>
            <h2>Frontend Development</h2>
            <p>Jaar 3</p>
        </hgroup><img src="../media/img/FED.png" alt="Dunkin' Donuts Website Front end Development">
    </a>
    <a href="">
        <hgroup>
            <h2>Inleiding Programmeren</h2>
            <p>Jaar 1</p>
        </hgroup>
        <img src="../media/img/BattleArena.jpg" alt="Battle arena javascript game project">
    </a>
    <a href="">
        <hgroup>
            <h2>Webapps From Scratch</h2>
            <p>Jaar 3</p>
        </hgroup>
        <img src="../media/img/eersteHtmlCss.png" alt="Webapps from scratch screenshot">
    </a>
    <a href="">
        <hgroup>
            <h2>Internetstandaarden</h2>
            <p>Jaar 1</p>
        </hgroup>
        <img src="../media/img/BladeRunner2049.jpg" alt="Internetstandaarden Blade Runner website">
    </a>
    <a href="">
        <hgroup>
            <h2>Project ISGA</h2>
            <p>Jaar 1</p>
        </hgroup>
        <img src="../media/img/ISGA.jpg" alt="">
    </a>
</section>