<a class="backLink" href="/projecten">Terug naar projecten</a>

<article class="projectInfo">
    <h2>Project Tech</h2>
    <p>Tijdens mijn tweede jaar op CMD heb ik voor het keuzeblok gekozen voor blok tech. Hier gingen we in verschillende
        vakken en projecten aan de slag om een website te bouwen naar keuze. We hadden verschillende vakken waar we aan
        verschillende dingen gingen werken voor ons prototype. Zo moesten we met het vak back-end development werken aan
        het koppelen van een database om data op te kunnen slaan en te kunnen versturen van en naar de website. Ook
        moesten we voor het vak Front-end development 2 verschillende api's implementeren. Verder hadden we een
        teamproject waar we vooral hebben geleerd te werken in een team en met github om te gaan.
    </p>
    <p>
        Mijn project was een idee dat ik had voor het uitwisselen van kennis of "skills". Daarom ook de naam "Skills"
        voor mijn project.
        Het ging om een website waar mensen die voor betaling iemand iets willen leren dat als advertentie kunnen
        aanbieden. Mensen die iets willen leren, bijvoorbeeld pianospelen, kunnen dan op zoek gaan naar iemand die
        daarin wilt lesgeven.

    </p>
    <img src="../media/bloktech.jpg" alt="">
</article>