<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="project" href="/projecten/project-tech">
                <hgroup>
                    <h2>Project Tech</h2>
                    <p>Jaar 2</p>
                </hgroup>
                <img src="../media/bloktech.jpg" alt="Project tech screenshot">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/projecten/3d">
                <hgroup>
                    <h2>3D</h2>
                    <p>Jaar 2</p>
                </hgroup>
                <img src="../media/Blender (3).jpg" alt="3D Robot gemaakt in blender">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/projecten/front-end-development">
                <hgroup>
                    <h2>Frontend Development</h2>
                    <p>Jaar 3</p>
                </hgroup><img src="../media/FED.png" alt="Dunkin' Donuts Website Front end Development">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="">
                <hgroup>
                    <h2>Inleiding Programmeren</h2>
                    <p>Jaar 1</p>
                </hgroup>
                <img src="../media/BattleArena.jpg" alt="Battle arena javascript game project">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="">
                <hgroup>
                    <h2>Webapps From Scratch</h2>
                    <p>Jaar 3</p>
                </hgroup>
                <img src="../media/eersteHtmlCss.png" alt="Webapps from scratch screenshot">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="">
                <hgroup>
                    <h2>Internetstandaarden</h2>
                    <p>Jaar 1</p>
                </hgroup>
                <img src="../media/BladeRunner2049.jpg" alt="Internetstandaarden Blade Runner website">
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="">
                <hgroup>
                    <h2>Project ISGA</h2>
                    <p>Jaar 1</p>
                </hgroup>
                <img src="../media/ISGA.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>