<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a class="project" href="/projecten/minor-oba">
                <hgroup>
                    <h2>Minor Webdevelopment & Design / OBA Project</h2>
                    <p>Jaar 3</p>
                </hgroup>
                <img src="../media/OBAMeesterproef.png" alt="">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>NodeJs</li>
                    <li>ExpressJs</li>
                    <li>LiquidJs</li>
                    <li>OpenAi API</li>
                    <li>Database Connection</li>

                </ul>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/projecten/minor-api">
                <hgroup>
                    <h2>Minor Webdevelopment & Design / API</h2>
                    <p>Jaar 3</p>
                </hgroup>
                <img src="../media/API.png" alt="">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>NodeJs</li>
                    <li>ExpressJs</li>
                    <li>Ejs</li>
                    <li>API's</li>
                </ul>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/projecten/minor-css">
                <hgroup>
                    <h2>Minor Webdevelopment & Design / CSS</h2>
                    <p>Jaar 3</p>
                </hgroup>
                <img src="../media/CSS.png" alt="">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                </ul>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/projecten/minor-wafs">
                <hgroup>
                    <h2>Minor Webdevelopment & Design / Webapps from scratch</h2>
                    <p>Jaar 3</p>
                </hgroup>
                <img src="../media/WAFS.png" alt="">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Json</li>
                </ul>
            </a>
        </div>

        <div class="swiper-slide">
            <a class="project" href="/projecten/project-tech">
                <hgroup>
                    <h2>Project Tech</h2>
                    <p>Jaar 2</p>
                </hgroup>
                <img src="../media/bloktech.jpg" alt="Project tech screenshot">
                <ul>
                    <li>
                        Javascript
                    </li>
                    <li>
                        MongoDB
                    </li>
                    <li>
                        API's
                    </li>
                </ul>
            </a>
        </div>

        <div class="swiper-slide">
            <a class="project" href="/projecten/front-end-development">
                <hgroup>
                    <h2>Frontend Development</h2>
                    <p>Jaar 3</p>
                </hgroup><img src="../media/FED.png" alt="Dunkin' Donuts Website Front end Development">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                </ul>
            </a>
        </div>
        <div class="swiper-slide">
            <a class="project" href="/projecten/project-isga">
                <hgroup>
                    <h2>Project ISGA</h2>
                    <p>Jaar 1</p>
                </hgroup>
                <img src="../media/ISGA.jpg" alt="">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>Javascript</li>
                </ul>
            </a>
        </div>


        <div class="swiper-slide">
            <a class="project" href="/projecten/3d">
                <hgroup>
                    <h2>3D</h2>
                    <p>Jaar 2</p>
                </hgroup>
                <img src="../media/Blender (3).jpg" alt="3D Robot gemaakt in blender">
                <ul>
                    <li>Blender</li>
                </ul>
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>