/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font styles */
body {
  background-color: darkslategrey;
  min-height: 100vh;
  font-family: "Segoe UI";
  font-size: 16px;
  color: #333;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgb(44, 44, 44), rgba(255, 255, 255, 0));
}

nav ul {
  display: flex;
  color: white;
}

nav ul li {
  color: white;
  margin: 0 1em;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

h1 {
  color: white;
}

main {
  margin-top: 7em;
}

article {
  color: black;
  background-color: #86aba7;
  height: 15em;
  width: 80%;
  padding: 1em;
  border-radius: 1em;
  margin: 5em auto 5em auto;
  display: grid;
  grid-template: 1fr 5fr/1fr 1fr;
  position: relative;
}

h2 {
  grid-area: 1/1/2/2;
}

p {
  font-size: 1.5em;
  grid-area: 2/1/3/2;
  align-self: center;
}

img {
  height: 18em;
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
  bottom: -1em;
  transition: 0.5s;
}
article:hover img {
  height: 19em;
}

main > section ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main > section > ul > a {
  text-decoration: none;
  background-color: white;
  border-radius: 1em;
  width: 25em;
  height: 25em;
  margin: 1em;
  flex-shrink: 0;
  transition: 0.5s;
  background-size: 200%;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

hgroup {
  position: absolute;
  top: 0;
  color: white;
  padding: 0.5em 1em;
  /* background-color: rgba(0, 0, 0, 0.582); */
  background-image: linear-gradient(
    rgba(32, 32, 32, 0.596) 30%,
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
  width: 100%;
}

main > section > ul > a:hover {
  transform: scale(1.05);
}

main > section > ul > a:hover img {
  transform: scale(0.9);
}

main > section > ul > a > img {
  position: absolute;
  top: 0;
  height: 120%;
}
main > section > ul > a:nth-of-type(4) > img {
  left: -5em;
}

main > section > ul > a:nth-of-type(5) > img {
  width: 120%;
  height: auto;
}

footer {
  color: white;
  background-color: rgb(25, 43, 43);
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
