@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --text-color: white;
  --h2-color: rgb(255, 0, 221);
  --h3-color: rgb(37, 187, 0);
  --background-color: rgb(24, 24, 24);
  --background-color-2: rgb(37, 37, 37);
  --link-color: aqua;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto Mono", monospace;

  display: flex;
  flex-direction: column;
}

header {
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  transition: 0.2s;

  &:hover {
    scale: 1.2;
  }
  a {
    color: var(--text-color);
    text-decoration: none;
    padding: 1em;
    &:hover {
      animation: rainbow 10s infinite;
    }
  }

  &:nth-of-type(2) a:hover {
    animation-delay: -2s;
  }

  &:nth-of-type(3) a:hover {
    animation-delay: -4s;
  }

  &:nth-of-type(4) a:hover {
    animation-delay: -6s;
  }
}

#darkmodeBtn {
  display: none;
}

#darkmodeBtn + label {
  cursor: pointer;
  background-color: #ccc;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
}

#darkmodeBtn:checked + label {
  background-color: #333;
}

#darkmodeBtn + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

#darkmodeBtn:checked + label:before {
  transform: translateX(25px);
}

@keyframes rainbow {
  0%,
  100% {
    color: limegreen;
  }
  33% {
    color: purple;
  }
  66% {
    color: crimson;
  }
}

main {
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.swiper-container {
  margin: auto 0;
  width: 100vw;
}

.swiper-slide {
  width: unset !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: unset !important;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4rem;
  background: linear-gradient(90deg, limegreen, purple, crimson);
  background-size: 500% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s linear infinite;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    position: relative;
  }
  header h1 {
    font-size: 3em;
    margin-top: -1px;
  }
  nav {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1em 0 2em 0;
    background-color: rgb(24, 24, 24);
    ul {
      width: 100vw;
    }
    a {
      padding: 15px !important;
    }
  }
  .persInfo {
    overflow: hidden;
    width: 90% !important;
    min-width: auto !important;
    h2 {
      grid-column: 1/-1 !important;
    }
    img {
      height: 16em;
      right: -5em;
    }
  }

  .skills {
    width: 90% !important;
    min-width: auto !important;
    flex-direction: column !important;
    margin-bottom: 5em !important;

    section:first-of-type {
      width: auto !important;
    }
  }

  a.project {
    width: 80vw;
    height: 25em;
  }

  .projectInfo {
    width: 90% !important;
  }
  footer {
    display: none !important;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.persInfo {
  color: var(--text-color);
  background-color: var(--background-color-2);
  width: 60%;
  min-width: 45em;
  padding: 1em;
  border-radius: 1em;
  margin: 5em 0 2.5em 0;
  display: grid;
  grid-template: 1fr 5fr/1fr 1fr;
  position: relative;

  h2 {
    grid-area: 1/1/2/2;
    color: var(--h2-color);
  }

  p {
    grid-area: 2/1/3/2;
    align-self: center;
    line-height: 2em;
    margin-top: 1em;
  }
}
.skills {
  color: var(--text-color);
  background-color: var(--background-color-2);
  width: 60%;
  min-width: 45em;
  padding: 1em;
  border-radius: 1em;
  margin: 2.5em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: start;

  p {
    line-height: 2em;
  }

  section:first-of-type {
    width: 15em;
  }
  img {
    width: 1.5em;
    margin-right: 1em;
  }

  ul {
    list-style: none;
    margin: 0 2em;

    li {
      margin: 0.5em 0;
      display: flex;
      align-items: center;
    }
  }

  h3 {
    margin: 1em 0;
  }

  h2 {
    margin-bottom: 1em;
    color: var(--h2-color);
  }
}
.idImg {
  height: 18em;
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
  bottom: -1em;
  transition: 0.5s;
}
.persInfo:hover img,
.persInfo:focus img {
  height: 19em;
}

.project {
  text-decoration: none;
  width: 25em;
  height: 35em;
  margin: 1em;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 5px 5px 30px 0 black;
  position: relative;

  ul {
    position: absolute;
    bottom: 1em;
    left: 1em;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 90%;

    li {
      background-color: rgba(0, 0, 0, 0.664);
      color: var(--text-color);
      list-style: none;
      padding: 0.3em;
      margin: 0.3em;
      border-radius: 5px;
      transition: 0.2s;
    }
  }
}

hgroup {
  font-family: monospace;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  color: var(--text-color);
  padding: 0.5em 1em;
  background-image: linear-gradient(#101010, rgba(255, 255, 255, 0));
  z-index: 1;
  width: 100%;
  height: 10em;
}

.backLink {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  overflow: hidden;
  border-radius: 1em;
}

.backLink::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em; /* Large enough to cover the whole element when scaled */
  height: 30em; /* Large enough to cover the whole element when scaled */
  background-color: rgb(37, 37, 37); /* The background color you want */
  border-radius: 500em;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.75s ease;
  z-index: -1;
}

.backLink:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.backLink:hover {
  text-decoration: none;
  color: var(--text-color);
}

.project > img {
  height: 100%;
  transition: 0.5s;
}

.projectInfo {
  color: var(--text-color);
  line-height: 2em;
  background-color: var(--background-color-2);
  width: 60%;
  padding: 1em;
  border-radius: 1em;
  margin: 2.5em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: var(--h2-color);
  }

  h2,
  p,
  img {
    margin-bottom: 1em;
  }
  a {
    display: block;
    margin-bottom: 1em;
    color: var(--link-color);
    align-self: start;
  }
  img {
    width: 100%;
  }

  .mobile {
    width: 50%;
  }

  ul {
    margin: 0 2em;
    align-self: start;
  }

  iframe {
    width: 100%;
  }
}

.isgaSection {
  display: flex;

  img {
    width: 12em !important;
    margin: 0.5em;
  }
}

.idImgWrapper {
  background-color: var(--background-color);
  width: 10em;
  aspect-ratio: 1/1;
  border-radius: 20%;
  overflow: hidden;
  position: absolute;
  align-self: end;

  img {
    width: 100%;
    margin-top: 1em;
  }
}

.cv {
  color: var(--text-color);
  line-height: 2em;
  background-color: var(--background-color-2);
  width: 60%;
  padding: 1em;
  border-radius: 1em;
  margin: 2.5em;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: start;

  h2 {
    color: var(--h2-color);
  }
  h3 {
    color: var(--h3-color);
  }

  h2,
  p,
  img {
    margin-bottom: 1em;
  }
}

.contactImg {
  width: 10em;
  margin: 2em;
  transition: 0.5s;
  &:hover {
    scale: 1.1;
  }
}

footer {
  color: var(--text-color);
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

footer p {
  font-size: 0.7em;
}
