@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font styles */
body {
  background-color: rgb(24, 24, 24);

  /* background: radial-gradient(
    circle,
    rgba(0, 22, 65, 1) 0%,
    rgba(0, 42, 116, 1) 100%
  ); */

  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
}

header {
  /* position: fixed; */
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(rgb(44, 44, 44), rgba(255, 255, 255, 0)); */
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transition: 0.2s;

  &:hover {
    scale: 1.2;
  }
  a {
    color: white;
    text-decoration: none;
    padding: 1em;
    &:hover {
      animation: rainbow 10s infinite;
    }
  }

  &:nth-of-type(2) a:hover {
    animation-delay: -2s;
  }

  &:nth-of-type(3) a:hover {
    animation-delay: -4s;
  }

  &:nth-of-type(4) a:hover {
    animation-delay: -6s;
  }
}

/* nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1em;
  &:hover {
    animation: rainbow 10s infinite;
  }
} */

@keyframes rainbow {
  0%,
  100% {
    color: limegreen;
  }
  33% {
    color: purple;
  }
  66% {
    color: crimson;
  }
}

main {
  min-height: calc(100vh - 138px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.swiper-container {
  margin: auto 0;
  width: 100vw;
}

.swiper-slide {
  width: unset !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: unset !important;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4rem;
  background: linear-gradient(90deg, limegreen, purple, crimson);
  background-size: 500% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s linear infinite;
}

@media (max-width: 640px) {
  header {
    flex-direction: column;
    position: relative;
  }
  header h1 {
    font-size: 3em;
    margin-top: -1px;
  }
  nav {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding: 1em 0;
    background-color: rgb(24, 24, 24);
    ul {
      width: 100vw;
    }
    a {
      padding: 15px !important;
    }
  }
  .persInfo {
    overflow: hidden;
    width: 90% !important;
    h2 {
      grid-column: 1/-1 !important;
    }
    img {
      height: 20em;
      right: -7em;
    }
  }

  .skills {
    width: 90% !important;
    flex-direction: column !important;
    margin-bottom: 5em !important;
  }

  a.project {
    width: 80vw;
    height: 25em;
  }

  .projectInfo {
    width: 90% !important;
  }
  footer {
    display: none !important;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.persInfo {
  color: white;
  background-color: rgb(37, 37, 37);
  width: 60em;
  padding: 1em;
  border-radius: 1em;
  margin: 5em 0 2.5em 0;
  display: grid;
  grid-template: 1fr 5fr/1fr 1fr;
  position: relative;

  h2 {
    grid-area: 1/1/2/2;
  }

  p {
    grid-area: 2/1/3/2;
    align-self: center;
  }
}
.skills {
  color: white;
  background-color: rgb(37, 37, 37);
  width: 60em;
  padding: 1em;
  border-radius: 1em;
  margin: 2.5em 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  section:first-of-type {
    width: 15em;
  }
  img {
    width: 1.5em;
    margin-right: 1em;
  }

  ul {
    list-style: none;
    margin: 0 2em;

    li {
      margin: 0.5em 0;
      display: flex;
      align-items: center;
    }
  }

  h3 {
    margin: 1em 0;
  }

  h2 {
    margin-bottom: 1em;
  }
}
.idImg {
  height: 18em;
  grid-area: 1/2/3/3;
  justify-self: center;
  align-self: center;
  position: absolute;
  bottom: -1em;
  transition: 0.5s;
}
.persInfo:hover img,
.persInfo:focus img {
  height: 19em;
}

.project {
  text-decoration: none;
  background-color: white;
  width: 25em;
  height: 35em;
  margin: 1em;
  transition: 0.5s;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-shadow: 5px 5px 30px 0 black;
  position: relative;

  ul {
    position: absolute;
    bottom: 1em;
    left: 1em;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 90%;

    li {
      background-color: rgba(0, 0, 0, 0.664);
      color: white;
      list-style: none;
      padding: 0.3em;
      margin: 0.3em;
      border-radius: 5px;
      transition: 0.2s;
    }
  }
}

hgroup {
  position: absolute;
  top: 0;
  color: white;
  padding: 0.5em 1em;
  background-image: linear-gradient(rgb(32, 32, 32), rgba(255, 255, 255, 0));
  z-index: 1;
  width: 100%;
  height: 10em;
}

.backLink {
  position: relative;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 1em;
  overflow: hidden;
  border-radius: 1em;
}

.backLink::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em; /* Large enough to cover the whole element when scaled */
  height: 30em; /* Large enough to cover the whole element when scaled */
  background-color: rgb(37, 37, 37); /* The background color you want */
  border-radius: 500em;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.75s ease;
  z-index: -1;
}

.backLink:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.backLink:hover {
  text-decoration: none;
  color: white; /* Ensure the text color remains the same */
}

.project > img {
  height: 100%;
  transition: 0.5s;
}

.projectInfo {
  color: white;
  background-color: rgb(37, 37, 37);
  width: 60%;
  padding: 1em;
  border-radius: 1em;
  margin: 2.5em;
  font-size: 1.2em;

  h2,
  p,
  img {
    margin-bottom: 1em;
  }
  a {
    display: block;
    margin-bottom: 1em;
    color: aqua;
  }
  img {
    height: 20em;
  }
  ul {
    margin: 0 2em;
  }
}

footer {
  color: white;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

footer p {
  font-size: 0.7em;
}
